SELECT
    fp.COMPANYID,
    fp.PERIODTYPEID,
    pt.periodtypename,
    fp.fiscalYear,
    fp.fiscalQuarter,
    fp.PERIODTYPEID,
    fi.FILINGDATE,
    fi.RESTATEMENTTYPEID,
    fi.periodEndDate,
    fc.CURRENCYID,
    fcd.DATAITEMVALUE,
    fcd.dataitemid,
    di.dataitemname,
    fcd.UNITTYPEID
FROM CIQFINPERIOD fp
JOIN CIQFININSTANCE fi
    ON fi.FINANCIALPERIODID = fp.FINANCIALPERIODID
JOIN CIQFININSTANCETOCOLLECTION fic
    ON fic.FINANCIALINSTANCEID = fi.FINANCIALINSTANCEID
JOIN CIQFINCOLLECTION fc
    ON fc.FINANCIALCOLLECTIONID = fic.FINANCIALCOLLECTIONID
JOIN CIQFINCOLLECTIONDATA fcd
    ON fcd.FINANCIALCOLLECTIONID = fc.FINANCIALCOLLECTIONID
JOIN CIQPERIODTYPE pt
    ON pt.PERIODTYPEID = fp.PERIODTYPEID
JOIN ciqdataitem di
    ON di.dataitemid = fcd.dataitemid
WHERE
    fp.COMPANYID IN ({{ company_ids | join(', ') }})
    AND fcd.DATAITEMID IN ({{ data_item_id | join(', ') }})
{% if date_from %}
    AND fi.FILINGDATE >= '{{ date_from }}'
{% endif %}
{% if date_to %}
    AND fi.FILINGDATE <= '{{ date_to }}'
{% endif %}
