select * 
from MSCIindexconstituent const
JOIN
    MSCIconstituent 
    on const.constituentid = MSCIconstituent.constituentid
JOIN 
    MSCISecurityDailyValue secdailyvalue
    on secdailyvalue.constituentid = MSCIconstituent.constituentid
where const.indexid = 379978898
and
MSCIconstituent.CONSTITUENTID = 643505444
limit 1000;